<div>
    <app-add-todo (addTodo)="addTodo($event)"></app-add-todo>
    <app-todo-item 
        *ngFor="let todo of pageTodos" 
        [todo]="todo"
        (deleteTodo)="deleteTodo($event)"
    >
    </app-todo-item>
    <div class="pagination">
        <div class="prev" (click)="gotoPage(currentPage-1)" [ngClass]="setPrevClasses(currentPage-1)"><<</div>
        <div *ngFor="let page of totalPages;"  class="pageLinks" >
            <span *ngIf="page >= currentPage && page <= (currentPage + 10)" class="pageLink" (click)="gotoPage(page)" [ngClass]="setClasses(page)">{{ page }}</span>
        </div>
        <div class="next" (click)="gotoPage(currentPage+1)" [ngClass]="setNextClasses(currentPage+1)">>></div>
    </div>
</div>
